In [2]:
import pandas as pd

asteroid = pd.read_csv(r'C:\Users\priya\OneDrive\Desktop\PR Project\Dataset\dataset.csv')

asteroid.info()

C:\Users\priya\AppData\Local\Temp\ipykernel_25972\3067619736.py:3: DtypeWarning: Columns (3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  asteroid = pd.read_csv(r'C:\Users\priya\OneDrive\Desktop\PR Project\Dataset\dataset.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 958524 entries, 0 to 958523
Data columns (total 45 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              958524 non-null  object
 1   spkid           958524 non-null  int64
 2   full_name       958524 non-null  object
 3   pdes            958524 non-null  object
 4   name            22064 non-null   object
 5   prefix          18 non-null      object
 6   neo             958520 non-null  object
 7   pha             938603 non-null  object
 8   H               952261 non-null  float64
 9   diameter        136209 non-null  float64
 10  albedo          135103 non-null  float64
 11  diameter_sigma  136081 non-null  float64
 12  orbit_id        958524 non-null  object
 13  epoch           958524 non-null  float64
 14  epoch_mjd       958524 non-null  int64
 15  epoch_cal       958524 non-null  float64
 16  equinox         958524 non-null  object
 17  e               958524 non-null  float64
 18  a               958524 non-null  float64
 19  q               958524 non-null  float64
 20  i               958524 non-null  float64
 21  om              958524 non-null  float64
 22  w               958524 non-null  float64
 23  ma              958523 non-null  float64
 24  ad              958520 non-null  float64
 25  n               958524 non-null  float64
 26  tp              958524 non-null  float64
 27  tp_cal          958524 non-null  float64
 28  per             958520 non-null  float64
 29  per_y           958523 non-null  float64
 30  moid            938603 non-null  float64
 31  moid_ld         958397 non-null  float64
 32  sigma_e         938602 non-null  float64
 33  sigma_a         938602 non-null  float64
 34  sigma_q         938602 non-null  float64
 35  sigma_i         938602 non-null  float64
 36  sigma_om        938602 non-null  float64
 37  sigma_w         938602 non-null  float64
 38  sigma_ma        938602 non-null  float64
 39  sigma_ad        938598 non-null  float64
 40  sigma_n         938602 non-null  float64
 41  sigma_tp        938602 non-null  float64
 42  sigma_per       938598 non-null  float64
 43  class           958524 non-null  object
 44  rms             958522 non-null  float64
dtypes: float64(33), int64(2), object(10)
memory usage: 329.1+ MB

In [3]:
asteroid2=asteroid.drop(['id','spkid','full_name','name','prefix','orbit_id','epoch','epoch_mjd','epoch_cal','equinox','tp_cal'],axis=1)
asteroid2

,pdes,neo,pha,H,diameter,albedo,diameter_sigma,e,a,q,...,sigma_i,sigma_om,sigma_w,sigma_ma,sigma_ad,sigma_n,sigma_tp,sigma_per,class,rms
0,1,N,N,3.400,939.400,0.0900,0.200,0.076009,2.769165,2.558684,...,4.608900e-09,6.168800e-08,6.624800e-08,7.820700e-09,1.111300e-11,1.196500e-12,3.782900e-08,9.415900e-09,MBA,0.43301
1,2,N,N,4.200,545.000,0.1010,18.000,0.229972,2.773841,2.135935,...,3.469400e-06,6.272400e-06,9.128200e-06,8.859100e-06,4.961300e-09,4.653600e-10,4.078700e-05,3.680700e-06,MBA,0.35936
2,3,N,N,5.330,246.596,0.2140,10.594,0.256936,2.668285,1.982706,...,3.223100e-06,1.664600e-05,1.772100e-05,8.110400e-06,4.363900e-09,4.413400e-10,3.528800e-05,3.107200e-06,MBA,0.33848
3,4,N,N,3.000,525.400,0.4228,0.200,0.088721,2.361418,2.151909,...,2.170600e-07,3.880800e-07,1.789300e-07,1.206800e-06,1.648600e-09,2.612500e-10,4.103700e-06,1.274900e-06,MBA,0.39980
4,5,N,N,6.900,106.699,0.2740,3.140,0.190913,2.574037,2.082619,...,2.740800e-06,2.894900e-05,2.984200e-05,8.303800e-06,4.729000e-09,5.522700e-10,3.474300e-05,3.490500e-06,MBA,0.52191
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
958519,6013 P-L,N,N,17.135,NaN,NaN,NaN,0.185919,2.280861,1.856807,...,6.969000e+00,7.433000e+00,4.631100e+01,2.738300e+01,1.041200e+00,1.652100e-01,1.309700e+02,7.264900e+02,MBA,0.23839
958520,6331 P-L,N,N,18.500,NaN,NaN,NaN,0.282920,2.334910,1.674319,...,1.563500e-05,5.598600e-05,2.380400e-04,1.298200e-04,2.418900e-08,3.346100e-09,4.690200e-04,1.578500e-05,MBA,0.53633
958521,6344 P-L,Y,Y,20.400,NaN,NaN,NaN,0.662446,2.817152,0.950941,...,1.853300e-05,5.691700e-05,8.969200e-05,5.272600e-05,1.650100e-07,1.101600e-08,2.830600e-04,9.127500e-05,APO,0.51556
958522,2060 T-2,N,N,18.071,NaN,NaN,NaN,0.202053,2.373137,1.893638,...,5.448800e-01,4.391600e+00,1.898800e+01,1.083800e+01,7.171600e-01,1.016700e-01,3.898400e+01,5.035500e+02,MBA,0.25641
958523,2678 T-3,N,N,18.060,NaN,NaN,NaN,0.258348,2.260404,1.676433,...,1.102300e+00,3.117000e-01,1.284300e+00,4.736100e-01,1.626700e-01,2.487900e-02,5.523600e+00,1.064800e+02,MBA,0.26980

In [4]:
asteroid3=asteroid2.drop(['sigma_a','sigma_e','sigma_q','sigma_i','sigma_om','sigma_w','sigma_ma','sigma_ad','sigma_n','sigma_tp','sigma_per','pdes'],axis=1)
asteroid3

,neo,pha,H,diameter,albedo,diameter_sigma,e,a,q,i,...,ma,ad,n,tp,per,per_y,moid,moid_ld,class,rms
0,N,N,3.400,939.400,0.0900,0.200,0.076009,2.769165,2.558684,10.594067,...,77.372098,2.979647,0.213885,2.458239e+06,1683.145703,4.608202,1.594780,620.640533,MBA,0.43301
1,N,N,4.200,545.000,0.1010,18.000,0.229972,2.773841,2.135935,34.832932,...,144.975675,3.411748,0.213345,2.458321e+06,1687.410992,4.619880,1.234290,480.348639,MBA,0.35936
2,N,N,5.330,246.596,0.2140,10.594,0.256936,2.668285,1.982706,12.991043,...,125.435355,3.353865,0.226129,2.458446e+06,1592.013769,4.358696,1.034290,402.514639,MBA,0.33848
3,N,N,3.000,525.400,0.4228,0.200,0.088721,2.361418,2.151909,7.141771,...,95.861938,2.570926,0.271609,2.458248e+06,1325.432763,3.628837,1.139480,443.451432,MBA,0.39980
4,N,N,6.900,106.699,0.2740,3.140,0.190913,2.574037,2.082619,5.367427,...,17.846343,3.065455,0.238661,2.458926e+06,1508.414421,4.129814,1.095750,426.433027,MBA,0.52191
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
958519,N,N,17.135,NaN,NaN,NaN,0.185919,2.280861,1.856807,5.984416,...,342.057565,2.704916,0.286125,2.437266e+06,1258.191614,3.444741,0.861979,335.456367,MBA,0.23839
958520,N,N,18.500,NaN,NaN,NaN,0.282920,2.334910,1.674319,8.082280,...,260.113042,2.995502,0.276248,2.459362e+06,1303.177916,3.567907,0.671242,261.227249,MBA,0.53633
958521,Y,Y,20.400,NaN,NaN,NaN,0.662446,2.817152,0.950941,4.679278,...,240.473601,4.683363,0.208444,2.459574e+06,1727.085364,4.728502,0.035589,13.850093,APO,0.51556
958522,N,N,18.071,NaN,NaN,NaN,0.202053,2.373137,1.893638,0.732484,...,355.351127,2.852636,0.269600,2.441974e+06,1335.311579,3.655884,0.893896,347.877506,MBA,0.25641
958523,N,N,18.060,NaN,NaN,NaN,0.258348,2.260404,1.676433,9.661947,...,15.320134,2.844376,0.290018,2.443377e+06,1241.302609,3.398501,0.680220,264.721217,MBA,0.26980

In [6]:
asteroid3['pha'].unique()

array(['N', 'Y', nan], dtype=object)

In [7]:
asteroid3['neo'] = asteroid3['neo'].replace({'Y': 1, 'N': 0})
asteroid3['pha'] = asteroid3['pha'].replace({'Y': 1, 'N': 0})

C:\Users\priya\AppData\Local\Temp\ipykernel_25972\1294802033.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  asteroid3['neo'] = asteroid3['neo'].replace({'Y': 1, 'N': 0})
C:\Users\priya\AppData\Local\Temp\ipykernel_25972\1294802033.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  asteroid3['pha'] = asteroid3['pha'].replace({'Y': 1, 'N': 0})

In [9]:
asteroid3

,neo,pha,H,diameter,albedo,diameter_sigma,e,a,q,i,...,ma,ad,n,tp,per,per_y,moid,moid_ld,class,rms
0,0.0,0.0,3.400,939.400,0.0900,0.200,0.076009,2.769165,2.558684,10.594067,...,77.372098,2.979647,0.213885,2.458239e+06,1683.145703,4.608202,1.594780,620.640533,MBA,0.43301
1,0.0,0.0,4.200,545.000,0.1010,18.000,0.229972,2.773841,2.135935,34.832932,...,144.975675,3.411748,0.213345,2.458321e+06,1687.410992,4.619880,1.234290,480.348639,MBA,0.35936
2,0.0,0.0,5.330,246.596,0.2140,10.594,0.256936,2.668285,1.982706,12.991043,...,125.435355,3.353865,0.226129,2.458446e+06,1592.013769,4.358696,1.034290,402.514639,MBA,0.33848
3,0.0,0.0,3.000,525.400,0.4228,0.200,0.088721,2.361418,2.151909,7.141771,...,95.861938,2.570926,0.271609,2.458248e+06,1325.432763,3.628837,1.139480,443.451432,MBA,0.39980
4,0.0,0.0,6.900,106.699,0.2740,3.140,0.190913,2.574037,2.082619,5.367427,...,17.846343,3.065455,0.238661,2.458926e+06,1508.414421,4.129814,1.095750,426.433027,MBA,0.52191
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
958519,0.0,0.0,17.135,NaN,NaN,NaN,0.185919,2.280861,1.856807,5.984416,...,342.057565,2.704916,0.286125,2.437266e+06,1258.191614,3.444741,0.861979,335.456367,MBA,0.23839
958520,0.0,0.0,18.500,NaN,NaN,NaN,0.282920,2.334910,1.674319,8.082280,...,260.113042,2.995502,0.276248,2.459362e+06,1303.177916,3.567907,0.671242,261.227249,MBA,0.53633
958521,1.0,1.0,20.400,NaN,NaN,NaN,0.662446,2.817152,0.950941,4.679278,...,240.473601,4.683363,0.208444,2.459574e+06,1727.085364,4.728502,0.035589,13.850093,APO,0.51556
958522,0.0,0.0,18.071,NaN,NaN,NaN,0.202053,2.373137,1.893638,0.732484,...,355.351127,2.852636,0.269600,2.441974e+06,1335.311579,3.655884,0.893896,347.877506,MBA,0.25641
958523,0.0,0.0,18.060,NaN,NaN,NaN,0.258348,2.260404,1.676433,9.661947,...,15.320134,2.844376,0.290018,2.443377e+06,1241.302609,3.398501,0.680220,264.721217,MBA,0.26980

In [10]:
asteroid3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 958524 entries, 0 to 958523
Data columns (total 22 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   neo             958520 non-null  float64
 1   pha             938603 non-null  float64
 2   H               952261 non-null  float64
 3   diameter        136209 non-null  float64
 4   albedo          135103 non-null  float64
 5   diameter_sigma  136081 non-null  float64
 6   e               958524 non-null  float64
 7   a               958524 non-null  float64
 8   q               958524 non-null  float64
 9   i               958524 non-null  float64
 10  om              958524 non-null  float64
 11  w               958524 non-null  float64
 12  ma              958523 non-null  float64
 13  ad              958520 non-null  float64
 14  n               958524 non-null  float64
 15  tp              958524 non-null  float64
 16  per             958520 non-null  float64
 17  per_y           958523 non-null  float64
 18  moid            938603 non-null  float64
 19  moid_ld         958397 non-null  float64
 20  class           958524 non-null  object
 21  rms             958522 non-null  float64
dtypes: float64(21), object(1)
memory usage: 160.9+ MB

In [11]:
asteroid4 = asteroid3.drop(columns=['diameter', 'albedo', 'diameter_sigma'])

asteroid4

,neo,pha,H,e,a,q,i,om,w,ma,ad,n,tp,per,per_y,moid,moid_ld,class,rms
0,0.0,0.0,3.400,0.076009,2.769165,2.558684,10.594067,80.305531,73.597695,77.372098,2.979647,0.213885,2.458239e+06,1683.145703,4.608202,1.594780,620.640533,MBA,0.43301
1,0.0,0.0,4.200,0.229972,2.773841,2.135935,34.832932,173.024741,310.202392,144.975675,3.411748,0.213345,2.458321e+06,1687.410992,4.619880,1.234290,480.348639,MBA,0.35936
2,0.0,0.0,5.330,0.256936,2.668285,1.982706,12.991043,169.851482,248.066193,125.435355,3.353865,0.226129,2.458446e+06,1592.013769,4.358696,1.034290,402.514639,MBA,0.33848
3,0.0,0.0,3.000,0.088721,2.361418,2.151909,7.141771,103.810804,150.728541,95.861938,2.570926,0.271609,2.458248e+06,1325.432763,3.628837,1.139480,443.451432,MBA,0.39980
4,0.0,0.0,6.900,0.190913,2.574037,2.082619,5.367427,141.571026,358.648418,17.846343,3.065455,0.238661,2.458926e+06,1508.414421,4.129814,1.095750,426.433027,MBA,0.52191
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
958519,0.0,0.0,17.135,0.185919,2.280861,1.856807,5.984416,194.229902,195.442802,342.057565,2.704916,0.286125,2.437266e+06,1258.191614,3.444741,0.861979,335.456367,MBA,0.23839
958520,0.0,0.0,18.500,0.282920,2.334910,1.674319,8.082280,355.248239,5.216223,260.113042,2.995502,0.276248,2.459362e+06,1303.177916,3.567907,0.671242,261.227249,MBA,0.53633
958521,1.0,1.0,20.400,0.662446,2.817152,0.950941,4.679278,182.982832,234.894852,240.473601,4.683363,0.208444,2.459574e+06,1727.085364,4.728502,0.035589,13.850093,APO,0.51556
958522,0.0,0.0,18.071,0.202053,2.373137,1.893638,0.732484,176.499082,198.026527,355.351127,2.852636,0.269600,2.441974e+06,1335.311579,3.655884,0.893896,347.877506,MBA,0.25641
958523,0.0,0.0,18.060,0.258348,2.260404,1.676433,9.661947,204.512448,148.496988,15.320134,2.844376,0.290018,2.443377e+06,1241.302609,3.398501,0.680220,264.721217,MBA,0.26980

In [12]:
asteroid4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 958524 entries, 0 to 958523
Data columns (total 19 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   neo      958520 non-null  float64
 1   pha      938603 non-null  float64
 2   H        952261 non-null  float64
 3   e        958524 non-null  float64
 4   a        958524 non-null  float64
 5   q        958524 non-null  float64
 6   i        958524 non-null  float64
 7   om       958524 non-null  float64
 8   w        958524 non-null  float64
 9   ma       958523 non-null  float64
 10  ad       958520 non-null  float64
 11  n        958524 non-null  float64
 12  tp       958524 non-null  float64
 13  per      958520 non-null  float64
 14  per_y    958523 non-null  float64
 15  moid     938603 non-null  float64
 16  moid_ld  958397 non-null  float64
 17  class    958524 non-null  object
 18  rms      958522 non-null  float64
dtypes: float64(18), object(1)
memory usage: 138.9+ MB

In [14]:
asteroid4.isna().sum()

neo            4
pha        19921
H           6263
e              0
a              0
q              0
i              0
om             0
w              0
ma             1
ad             4
n              0
tp             0
per            4
per_y          1
moid       19921
moid_ld      127
class          0
rms            2
dtype: int64

In [16]:
asteroid4.dropna(inplace=True)
asteroid4

,neo,pha,H,e,a,q,i,om,w,ma,ad,n,tp,per,per_y,moid,moid_ld,class,rms
0,0.0,0.0,3.400,0.076009,2.769165,2.558684,10.594067,80.305531,73.597695,77.372098,2.979647,0.213885,2.458239e+06,1683.145703,4.608202,1.594780,620.640533,MBA,0.43301
1,0.0,0.0,4.200,0.229972,2.773841,2.135935,34.832932,173.024741,310.202392,144.975675,3.411748,0.213345,2.458321e+06,1687.410992,4.619880,1.234290,480.348639,MBA,0.35936
2,0.0,0.0,5.330,0.256936,2.668285,1.982706,12.991043,169.851482,248.066193,125.435355,3.353865,0.226129,2.458446e+06,1592.013769,4.358696,1.034290,402.514639,MBA,0.33848
3,0.0,0.0,3.000,0.088721,2.361418,2.151909,7.141771,103.810804,150.728541,95.861938,2.570926,0.271609,2.458248e+06,1325.432763,3.628837,1.139480,443.451432,MBA,0.39980
4,0.0,0.0,6.900,0.190913,2.574037,2.082619,5.367427,141.571026,358.648418,17.846343,3.065455,0.238661,2.458926e+06,1508.414421,4.129814,1.095750,426.433027,MBA,0.52191
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
958519,0.0,0.0,17.135,0.185919,2.280861,1.856807,5.984416,194.229902,195.442802,342.057565,2.704916,0.286125,2.437266e+06,1258.191614,3.444741,0.861979,335.456367,MBA,0.23839
958520,0.0,0.0,18.500,0.282920,2.334910,1.674319,8.082280,355.248239,5.216223,260.113042,2.995502,0.276248,2.459362e+06,1303.177916,3.567907,0.671242,261.227249,MBA,0.53633
958521,1.0,1.0,20.400,0.662446,2.817152,0.950941,4.679278,182.982832,234.894852,240.473601,4.683363,0.208444,2.459574e+06,1727.085364,4.728502,0.035589,13.850093,APO,0.51556
958522,0.0,0.0,18.071,0.202053,2.373137,1.893638,0.732484,176.499082,198.026527,355.351127,2.852636,0.269600,2.441974e+06,1335.311579,3.655884,0.893896,347.877506,MBA,0.25641
958523,0.0,0.0,18.060,0.258348,2.260404,1.676433,9.661947,204.512448,148.496988,15.320134,2.844376,0.290018,2.443377e+06,1241.302609,3.398501,0.680220,264.721217,MBA,0.26980

In [17]:
asteroid4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 932335 entries, 0 to 958523
Data columns (total 19 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   neo      932335 non-null  float64
 1   pha      932335 non-null  float64
 2   H        932335 non-null  float64
 3   e        932335 non-null  float64
 4   a        932335 non-null  float64
 5   q        932335 non-null  float64
 6   i        932335 non-null  float64
 7   om       932335 non-null  float64
 8   w        932335 non-null  float64
 9   ma       932335 non-null  float64
 10  ad       932335 non-null  float64
 11  n        932335 non-null  float64
 12  tp       932335 non-null  float64
 13  per      932335 non-null  float64
 14  per_y    932335 non-null  float64
 15  moid     932335 non-null  float64
 16  moid_ld  932335 non-null  float64
 17  class    932335 non-null  object
 18  rms      932335 non-null  float64
dtypes: float64(18), object(1)
memory usage: 142.3+ MB

In [25]:
asteroid4['pha'] = asteroid4['pha'].astype('int32')
asteroid4['neo'] = asteroid4['neo'].astype('int32')

asteroid4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 932335 entries, 0 to 958523
Data columns (total 19 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   neo      932335 non-null  int32
 1   pha      932335 non-null  int32
 2   H        932335 non-null  float64
 3   e        932335 non-null  float64
 4   a        932335 non-null  float64
 5   q        932335 non-null  float64
 6   i        932335 non-null  float64
 7   om       932335 non-null  float64
 8   w        932335 non-null  float64
 9   ma       932335 non-null  float64
 10  ad       932335 non-null  float64
 11  n        932335 non-null  float64
 12  tp       932335 non-null  float64
 13  per      932335 non-null  float64
 14  per_y    932335 non-null  float64
 15  moid     932335 non-null  float64
 16  moid_ld  932335 non-null  float64
 17  class    932335 non-null  object
 18  rms      932335 non-null  float64
dtypes: float64(16), int32(2), object(1)
memory usage: 167.4+ MB

In [26]:
asteroid4.isna().sum()

neo        0
pha        0
H          0
e          0
a          0
q          0
i          0
om         0
w          0
ma         0
ad         0
n          0
tp         0
per        0
per_y      0
moid       0
moid_ld    0
class      0
rms        0
dtype: int64

In [27]:
asteroid3['neo'].fillna(asteroid4['neo'].mode()[0], inplace=True)
asteroid3['pha'].fillna(0, inplace=True)
asteroid3['H'].fillna(asteroid4['H'].median(), inplace=True)
asteroid3.dropna(subset=['ma', 'ad'], inplace=True)

asteroid3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 958519 entries, 0 to 958523
Data columns (total 22 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   neo             958519 non-null  float64
 1   pha             958519 non-null  float64
 2   H               958519 non-null  float64
 3   diameter        136209 non-null  float64
 4   albedo          135103 non-null  float64
 5   diameter_sigma  136081 non-null  float64
 6   e               958519 non-null  float64
 7   a               958519 non-null  float64
 8   q               958519 non-null  float64
 9   i               958519 non-null  float64
 10  om              958519 non-null  float64
 11  w               958519 non-null  float64
 12  ma              958519 non-null  float64
 13  ad              958519 non-null  float64
 14  n               958519 non-null  float64
 15  tp              958519 non-null  float64
 16  per             958519 non-null  float64
 17  per_y           958519 non-null  float64
 18  moid            938598 non-null  float64
 19  moid_ld         958392 non-null  float64
 20  class           958519 non-null  object
 21  rms             958517 non-null  float64
dtypes: float64(21), object(1)
memory usage: 168.2+ MB

C:\Users\priya\AppData\Local\Temp\ipykernel_25972\2868224226.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  asteroid3['neo'].fillna(asteroid4['neo'].mode()[0], inplace=True)
C:\Users\priya\AppData\Local\Temp\ipykernel_25972\2868224226.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  asteroid3['pha'].fillna(0, inplace=True)
C:\Users\priya\AppData\Local\Temp\ipykernel_25972\2868224226.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  asteroid3['H'].fillna(asteroid4['H'].median(), inplace=True)

In [28]:
asteroid3['moid'].fillna(asteroid4['moid'].median(), inplace=True)
asteroid3['rms'].fillna(asteroid4['rms'].mean(), inplace=True)


asteroid3.drop(columns=['moid_ld'], inplace=True)

asteroid3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 958519 entries, 0 to 958523
Data columns (total 21 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   neo             958519 non-null  float64
 1   pha             958519 non-null  float64
 2   H               958519 non-null  float64
 3   diameter        136209 non-null  float64
 4   albedo          135103 non-null  float64
 5   diameter_sigma  136081 non-null  float64
 6   e               958519 non-null  float64
 7   a               958519 non-null  float64
 8   q               958519 non-null  float64
 9   i               958519 non-null  float64
 10  om              958519 non-null  float64
 11  w               958519 non-null  float64
 12  ma              958519 non-null  float64
 13  ad              958519 non-null  float64
 14  n               958519 non-null  float64
 15  tp              958519 non-null  float64
 16  per             958519 non-null  float64
 17  per_y           958519 non-null  float64
 18  moid            958519 non-null  float64
 19  class           958519 non-null  object
 20  rms             958519 non-null  float64
dtypes: float64(20), object(1)
memory usage: 160.9+ MB

C:\Users\priya\AppData\Local\Temp\ipykernel_25972\706162266.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  asteroid3['moid'].fillna(asteroid4['moid'].median(), inplace=True)
C:\Users\priya\AppData\Local\Temp\ipykernel_25972\706162266.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  asteroid3['rms'].fillna(asteroid4['rms'].mean(), inplace=True)

In [35]:
print(asteroid3.columns)

asteroid3.info()

Index(['neo', 'pha', 'H', 'e', 'a', 'q', 'i', 'om', 'w', 'ma', 'ad', 'n', 'tp',
       'per', 'per_y', 'moid', 'class', 'rms'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
Index: 958519 entries, 0 to 958523
Data columns (total 18 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   neo     958519 non-null  float64
 1   pha     958519 non-null  float64
 2   H       958519 non-null  float64
 3   e       958519 non-null  float64
 4   a       958519 non-null  float64
 5   q       958519 non-null  float64
 6   i       958519 non-null  float64
 7   om      958519 non-null  float64
 8   w       958519 non-null  float64
 9   ma      958519 non-null  float64
 10  ad      958519 non-null  float64
 11  n       958519 non-null  float64
 12  tp      958519 non-null  float64
 13  per     958519 non-null  float64
 14  per_y   958519 non-null  float64
 15  moid    958519 non-null  float64
 16  class   958519 non-null  object
 17  rms     958519 non-null  float64
dtypes: float64(17), object(1)
memory usage: 138.9+ MB

In [36]:
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('seaborn-v0_8')

In [38]:
asteroid3['pha'] = asteroid3['pha'].astype('int32')
asteroid3['neo'] = asteroid3['neo'].astype('int32')

asteroid3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 958519 entries, 0 to 958523
Data columns (total 18 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   neo     958519 non-null  int32
 1   pha     958519 non-null  int32
 2   H       958519 non-null  float64
 3   e       958519 non-null  float64
 4   a       958519 non-null  float64
 5   q       958519 non-null  float64
 6   i       958519 non-null  float64
 7   om      958519 non-null  float64
 8   w       958519 non-null  float64
 9   ma      958519 non-null  float64
 10  ad      958519 non-null  float64
 11  n       958519 non-null  float64
 12  tp      958519 non-null  float64
 13  per     958519 non-null  float64
 14  per_y   958519 non-null  float64
 15  moid    958519 non-null  float64
 16  class   958519 non-null  object
 17  rms     958519 non-null  float64
dtypes: float64(15), int32(2), object(1)
memory usage: 131.6+ MB